[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "asyncpg>=0.31.0",
    "google-genai>=1.56.0",
    "openai>=2.14.0",
    "psutil>=7.2.1",
    "reportlab>=4.4.7",
]
